
body
{
background-color:lightblue;
margin-top:100px;
}
#op
{
height:60px;
width:60px;
border-radius:10px;
background-color:orange;
}
#calc
{
border-radius:10px;
height:50px;
width:300px;
text-align:right;
font-size:25px;
font-weight:bold;
background-color: white;
}
#name
{
font-family:elephant;
font-size:29px;
text-transform:uppercase;
color:#00ffae;
}
#op1
{
height:60px;
width:60px;
border-radius:10px;
background-color:lightgreen;
}
#num
{
height:60px;
width:60px;
border-radius:10px;
background-color:#fff;
}
#page
{
border-radius:10px;
border:2px solid black;
margin:300px;

background-image:url(calculator-M.png);
}